<div class="row">
    <div class="col-6">
        <h4>C# class code</h4>
        <textarea class="monospace" style="width: 100%; font-size: 0.8em" rows="30" [(ngModel)]="inputCode" (ngModelChange)="handleCodeInputChange()"></textarea>
    </div>
    <div class="col-6">
        <h4>Class</h4>
        <div *ngIf="!parsedClass" class="fst-italic">No class found</div>
        <h3 class="text-primary">{{ parsedClass?.name }}</h3>

        <div *ngIf="parsedClass" class="py-2">
            <h4>Properties</h4>
            <div *ngIf="!parsedClass" class="fst-italic">No properties found</div>

            <table *ngIf="parsedClass" class="table">
                <tr>
                    <th>Name</th>
                    <th>C# Type</th>
                    <th colspan="2">Protobuf Type</th>
                </tr>
                <tr *ngFor="let property of parsedClass?.properties">
                    <td>
                        <div clasS="form-check">
                            <input class="form-check-input" type="checkbox" ngModel="property.isChecked" id="{{ property.name }}" />
                            <label class="form-check-label" for="{{ property.name }}">
                                {{ property.name }}
                            </label>
                        </div>
                    </td>
                    <td>
                        {{ property.csharpType }}
                    </td>
                    <td>
                        {{ property.isCollection ? "repeated" : "" }}
                    </td>
                    <td>
                        <select [(ngModel)]="property.protobufType">
                            <option *ngFor="let protobufType of protobufTypes" [ngValue]="protobufType">
                                {{ protobufType }}
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
